@import url("public.css");
html{overflow-y: hidden;}
#top{height:40px;background:url("../images/admin_top_bg.jpg") repeat-x; 
padding-left:300px;border-bottom: solid 2px #666;overflow: hidden; position: relative;}
#top .menu{margin-top:4px}
#top .menu a{padding:3px 15px;background:#eee;font-size:15px;font-weight: bold;color:#43434F;
	float:left;margin-right:10px; display:block; border:solid 1px #E3E3E3; border-radius: 3px;}
#top .menu a:hover{background:#333;color:#fff; box-shadow:2px 3px 6px #ccc;}
/***退出****/
.exit{position: absolute;top:5px;right:20px;}
.exit a{font-size:12px;color:#000;padding:3px 10px;border:solid 1px #649003; border-radius: 3px;}
.exit a:hover{background: #999;color:#fff;}
/**左侧**/
#left{padding-top:20px;width:200px;float:left; overflow-x:hidden;
	overflow-y:scroll;border-right: solid 1px #dcdcdc; 
background:#F1F1F1 10px 10px no-repeat;background:#000 ;}
#left dl:last-child{padding-bottom:80px}
#left dl dt{border-left: 8px solid #DD4B39;padding-left:10px; color:#DD4B39;cursor:pointer;background:#00314F;border-radius:4px;border:1px solid #00314F;color:white;font-weight:bold;text-align:center;height:40px;line-height:40px;font-size:16px}
#left dl dd{}
#left dl dd a{font-size:14px;padding:7px 0px;padding-left:18px;color:white;display:block; }
#left dl dd a:hover{background:#656565;}
#right{float:left;overflow: hidden;}
