*{font-family:微软雅黑}
.clear{clear:both}
.clearfix{clear:both;}
ul,li{list-style: none}
.form-error,.errorMessage{display: inline;color:red}
.input-inline{display: inline;width:auto}

.laydate_body .laydate_top{padding:0px}
.laydate_body .laydate_bottom{height:35px;}
span.required{color:red}

.mynavbar{height:50px;width:100%;background:#000}
.mynavbar .logo{background:#293038;;height: 100%;line-height: 100%}
.mynavbar ul li{list-style: none;color:white;line-height: 50px;border-right:1px solid #293038}
.mynavbar ul li a:hover{background:#293038;}
.mynavbar .user-info-user a.logout{position:absolute;z-index: 99990;left:0px;top:50px;background:#293038;text-align: center;display: none;border: 1px solid #eaedf1; box-shadow: 10px 10px 5px #888888;  }
.layouts_content .layouts_content_left{float:left;height:100%;background: #09C;width:180px;padding-top:30px;}
.layouts_content .layouts_content_left div.li_main{color:white;height: 40px;line-height: 40px;padding-left:20px;position:relative;background: #00bfff}
.layouts_content .layouts_content_left ul li.li_main{background:#09C}
.layouts_content .layouts_content_left ul li:hover{background: #00bfff}
.mynavbar .user-info-user.active a{background: white;color:#333;display: block}
.layouts_content .layouts_content_left div.li_main:hover{background: #00bfff}
.layouts_content .layouts_content_left div.li_main.li_close{background: #00bfff}

.min_w97{min-width: 97px}
.min_w110{min-width: 110px}
.min_w153{min-width: 153px}
.min_w114{min-width: 114px}
.w197{width: 197px}
.w120{width: 120px}
.w270{width: 270px}

/*认证*/
.user-verify{font-size: 12px;border:1px solid #f3f3f3;line-height:20px;margin-left:5px;padding:5px}
.user-verify.on{font-size: 12px;color:#f8b85e;border:1px solid #f8b85e;line-height:20px;margin-left:5px;padding:5px}














